html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: crosshair;
}

#panel {
  background: rgba(30, 30, 30, 0.9);
  color: white;

  padding: 24px 36px;
  border-radius: 16px;

  text-align: center;
}

#selection {
  position: fixed;

  display: none;

  border: 1px solid #ff0000;
  background: rgba(77, 163, 255, 0.2);

  pointer-events: none;
}